@font-face {
    font-family: "Bebas Thin";
    src: url("../fonts/BebasNeueThin.otf") format("opentype"),
        url("../fonts/BebasNeueThin.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Bebas Regular";
    src: url("../fonts/BebasNeueRegular.otf") format("opentype"),
        url("../fonts/BebasNeueRegular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Bebas Bold";
    src: url("../fonts/BebasNeueBold.otf") format("opentype"),
        url("../fonts/BebasNeueBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}