// fonts
$main_font: 'Montserrat', sans-serif;
$supporting_font: "Bebas Regular";
$supporting_font_thin: "Bebas Thin";
$supporting_font_bold: "Bebas Bold";

// colours
$white: #fff;
$black: #000;
$main_color: #F5A623;